* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.nav-item {
    list-style: none;
}
.nav-link {
    transition: 0.7s ease;
  }

.nav-link:hover {
    background-color: rgba(210, 163, 254, 0.617);
    border-radius: 5%;
    color:white;
  }
.heading {
    background-color: darkgray;
    background-image: url(Tulip-Garden-Keukenhof-10-2000x1500.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.headrow {
    display: grid;
    grid-template-columns: 2fr, 3fr;
    grid-template-rows: auto;
    color:white;
    padding:10px;

}

.breif {
    color: rgba(0, 0, 0, 0.877);
    font-size: 22px;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.image-gallery {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.galleryimg {
    padding: 5px;
}

.provoc {
    background: greenyellow;
    background-image: url(row_image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 5px;

}

.arrma {
    text-align: center;
    padding: 4rem;
    color: white
}

.colscont {
    padding: 1.25rem;
    background: grey;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.inig {
    padding: 10px;
    background-color: bisque;
    margin-top: 5px;
}

.historysec {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.binge {
    background: lawngreen;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.bingediv {
    text-transform: uppercase;
}

.bingediv p {
    color: black;
}

.bingespan {
    text-transform: initial;
    font-size: 14px;
    color: rgba(1, 117, 36, 0.801);
}

.bingebtn {
    text-transform: uppercase;
    border-radius: 0 !important;
}

.footer {
    background-color: rgba(109, 76, 32, 0.459);
    /* padding:70px 0; */
}

.footcont {
    max-width: 1200px;
    margin: auto;
    font-family: cursive;
}

.footerrow {
    display: inline-block;
}

.footerrow h5 {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0, auto;
    padding: 10px;
}

.footerrow ul li {
    list-style-type: none;
}

.footercol {
    width: 20%;

}

.footercol ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: rgba(163, 45, 61, 0.452);
    transition: 0.5s;
}

#footer-col-1 {
    font-size: 10px;
}

.footcont>h4 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footercol ul li a:hover {
    color: rgb(165, 25, 36);
    padding-left: 2px;
    font-size: 18px;
}

@media screen and (max-width: 500px) {
    .imgcolumn {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .colscont {
        grid-template-columns: repeat(1, 100%);
    }

    .rightColumn>img {
        max-width: 200px;
        max-height: 200px;
    }
}